body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

.trim {
  color: white;
  font-size: 200%;
  width: 100%;
  background-color: red;
  padding: 20px;
  margin: 0;
  box-shadow: 0 10px 5px #888888;
}
.h1, .destinations, .destination, .trim {
  margin: 0 auto;
}

.walktime {
  font-size: 150%;
}

.destination {
  width: 50%;
  max-width: 600px;
  min-width: 500px;
  padding: 10px 10px 30px 10px;
  margin: 10px;
  border: 2px solid black;
  display: inline-block;
}

.destination-name {
  font-size: 175%;
  width: 100%;
  padding-bottom: 20px;
  margin: 10px;
}

.destination .time {
  color: white;
  width: 150px;
  padding: 20px;
  margin: 10px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-device-width: 737px) {
  .destination .time.blue {
    background-color: blue;
  }

  .destination .time.green {
    background-color: green;
  }

  .destination .time.yellow {
    background-color: orange;
  }

  .destination .time.red {
    background-color: red;
  }
}

@media only screen and (max-device-width: 736px) {
  .destination-name {
    color: white;
  }

  .destination.blue {
    background-color: blue;
  }

  .destination.green {
    background-color: green;
  }

  .destination.yellow {
    background-color: orange;
  }

  .destination.red {
    background-color: red;
  }

  .time:first-of-type {
    font-size: 160%;
  }

  .credit {
    display: none;
  }
}
