<div class='system'>
  <nav>
    <a class='selected' href='/#/bart'>BART</a>
    <a href='/#/caltrain'>Caltrain<sup>(beta)</sup></a>
  </nav>
  <h1>Closest Station: {{ nearestStationData.closest || 'TBD' }}</h1>
  <div class='destinations'>
    <div class='walktime'>Walking time to station: ~{{ nearestStationData.walkTime || 'TBD' }} minutes</div>
    <div class='runtime'>Running time to station: ~{{ nearestStationData.runTime || 'TBD' }} minutes</div>
    <div class='destination' ng-class='classifyTime(destination.departs[0])' ng-repeat='destination in nearestStationData.destinations'>
      <div class='destination-name'>{{ destination.station }}</div>
      <div class='times'>
        <span class='time' ng-class='classifyTime(time)' ng-repeat='time in destination.departs'>{{ time }} min</span>
      </div>
    </div>
    <div ng-hide='nearestStationData.destinations.length'>There is no train data available at the moment.</div>
  </div>
  <div class='credit'><a href="https://github.com/s-law/">My GitHub</a></div>
</div>
