<div class='system'>
  <nav>
    <a href='/#/bart'>BART</a>
    <a class='selected' href='/#/caltrain'>Caltrain<sup>(beta)</sup></a>
  </nav>
  <h1>Closest Station: {{ nearestStationData.closestStation || 'TBD' }}</h1>
  <div class='train-numbers'>
    <div class='walktime'>Walking time to station: ~{{ nearestStationData.walkTime || 'TBD' }} minutes</div>
    <div class='runtime'>Running time to station: ~{{ nearestStationData.runTime || 'TBD' }} minutes</div>
    <div ng-repeat='direction in directions'>
      <div class='service-direction' ng-show='areTrainsAvailable(direction)' ng-cloak>
        {{ direction.charAt(0).toUpperCase() + direction.substring(1) }}bound
      </div>
      <div class='service' ng-class='classifyTime(nearestStationData[direction][service][0])' ng-repeat='service in nearestStationData[direction + "Services"]' ng-show='areTrainsAvailable(direction, service)'>
        <div class='service-name'>{{ service }}</div>
        <span class='train' ng-class='classifyTime(train.timeToDepart)' ng-repeat='train in nearestStationData[direction][service]'>
          <span class='train-number'>#{{ train.trainNumber }} - </span>
          <span class='train-time'>{{ train.timeToDepart }} min</span>
        </span>
      </div>
    </div>
  <div class='credit'><a href="https://github.com/s-law/">My GitHub</a></div>
</div>
